@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
  --main-brand-color: #29541E;
  --main-brand-hover-color: #29541e2a;
  --dark-accent-color: #9F805B;
  --light-accent-color: #E6E5D2;

}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: var(--light-accent-color);
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.action-button {
  background-color: var(--main-brand-color);
  color: var(--light-accent-color);
  border: none;
  padding: 25px 70px;
  margin: 50px 0 100px 0;
  font-size: large;
  font-weight: 600;
}

.action-button:hover {
  cursor: pointer;
}