.about-info-container {
  display: flex;
  justify-content: center;
  width: 70vw;

}

.about-title {
  margin-top: var(--margin-top);
  color: var(--dark-accent-color);
  font-size: xx-large;
  padding: 0
}

.about-main-text {
  color: var(--main-brand-color);
  text-align: justify;
  margin: 25px;
  font-size: 1.4em;
}

.about-house {
  position: absolute;
  right: 27vmax;
  bottom: -17vmax;
  width: 12vw;
  z-index: -1;
}

@media only screen and (max-width: 900px) {

  .about-title {
    font-size: large;
  }

  .about-main-text {
    font-size: 1em;
  }
}