.about-info-container {
  display: flex;
  justify-content: center;
  width: 70vw;
}

.about-title {
  margin-top: 150px;
  color: var(--dark-accent-color);
  font-size: xx-large;
}

.about-main-text {
  color: var(--main-brand-color);
  text-align: left;
  font-size: 1.8em;
}