.nav-header {
  display: flex;
  justify-content: space-between;
  border: solid green;
  width: 70vw
}

.nav-links {
  display: flex;
  align-items: center;
  border: solid blue;
}

.nav-button {
  border: none;
  background: none;
  color: var(--main-brand-color)
}

.nav-button:hover {
  cursor: pointer;
}

.website-name a {
  text-decoration: none;
  color: var(--main-brand-color)
}