.posts-filter {
  /* margin-top: 50px */
}

.main-post-container {
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
}

.all-posts-container,
.posts-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--margin-top);
}

.posts-cards-container {
  margin: 50px 0
}

.filter-search {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  /* height: 900px; */
}

.search-input {
  font-size: large;
  background: none;
  border-bottom: black solid 1px;
}

.search-form {
  margin-top: 50px
}