.posts-filter {
  margin-top: 50px
}

.main-post-container {
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
}

.all-posts-container,
.posts-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--margin-top);
}

.posts-cards-container {
  margin: 50px 0
}