.all-posts-container {
  display: flex;
  justify-items: center;
  justify-content: center;
  /* grid-template-columns: 100px 100px 100px 100px 100px; */
  /* grid-template-rows: 30px 30px 30px; */
  /* column-gap: 120px; */
  /* row-gap: 190px; */
  border: solid yellow;
  width: 70vw
}

.purple {
  border: solid purple;
  display: flex;
  justify-content: center;
  width: 100vw
}