.profile-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.profile-text-container,
.profile-posts-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: var(--margin-top);
  color: var(--dark-accent-color)
}

.profile-posts-container {
  margin-top: 0
}


.profile-cards {
  position: relative;
}

.delete,
.edit {
  filter: invert(52%) sepia(32%) saturate(468%) hue-rotate(353deg) brightness(94%) contrast(84%);
}

.delete:hover,
.edit:hover {
  cursor: pointer;
}

.post-detail-button {
  border: none;
  background: none;
  padding: 0;
}