textarea {
  resize: none
}

.form-title-edit {
  color: var(--main-brand-color);
  font-size: xx-large;
  margin-top: 150px;
}

.edit-form-container {
  display: flex;
  justify-content: center;
  width: 70vw;
}